:root {
    /* Fonts */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* Project colors */
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: 1px solid red;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    /* border: 1px solid peru; */
    display: grid;
    gap: 3rem;
    text-align: center;
}

.logo-wrapper {
    /* border: 1px solid green; */
    display: grid;
    place-items: center;
    grid-auto-flow: column;
    justify-content: center;
    gap: 2.5rem;
    transition: filter 300ms;
}

.logo {
    /* border: 1px solid blue; */
    height: 5.5em;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.logo-js:hover {
    filter: drop-shadow(0 0 2em #f7df1eaa);
}

h1 {
    color: #fff;
    font-size: 3em;
}

button {
    justify-self: center;
    border: none;
    /* border: 1px solid blue; */
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #0a0a0c;
    color: #fff;
    /* font-size: 1.2rem; */
    /* font-weight: 500; */
    cursor: pointer;
    width: 50%;
    transition: background-color 300ms;
}

button:hover {
    background-color: #1a1a1c;
}

p {
    /* border: 1px solid blue; */
    /* font-size: 1.2rem; */
    /* font-weight: 500; */
    color: #8f8f8f;
}